navbar{
	background-color: black;
}

body {
	/* background-image: url("/public/img/93a126233d88430269ffa846e3daa58f.jpg");  */
	background-image: url("https://www.desktop-background.com/p/2013/05/31/584764_old-newspaper-wallpapers-desktop-backgrounds_1500x1000_h.jpg");
}

#empty {
	margin: 8px 0px;
	color: white;
}

#scrape {
	margin: 8px 0px;
	color: white;
}

#save {
	margin: 8px 0px;
	color: white;
}

#home {
	margin: 8px 0px;
	color: white;
}